:root {
    --blue: #00BFFF;
    --dark-blue: #0000CD;
    --grey: #778899;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--maroon);
    font-family: Arial, Helvetica, sans-serif;
}

/* header styling */

header {
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url('../images/nature.jpg');
    background-size: cover;
    background-position: 90%;
}

header h1 {
    font-weight: bold;
    font-size: 46px;
    margin: 0;
    padding-left: 400px;
    align-items: center;
    color: var(--blue);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

header a {
    text-decoration: none;
    color: var(--blue);
}

header nav {
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px 0;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.7vw;
}

header nav ul li a:hover {
    background: var(--grey);
    color: var(--maroon);
    border-radius: 8px;

}

/*  footer style  */

footer {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
}


footer h2 {
    padding: 15px;
    color: var(--blue);
    font-size: 40px;
    margin: 0;
}

footer div {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.5;
    margin: auto;
}


footer a {
    color: var(--blue);
    padding: 5px;
}