:root {
    --blue: #00BFFF;
    --dark-blue: #0000CD;
    --grey: #778899;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--maroon);
    background: var(--grey);
    font-family: Arial, Helvetica, sans-serif;
}

/* header styling */

header {
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url('../images/nature.jpg');
    background-size: cover;
    background-position: 90%;
}

header h1 {
    font-weight: bold;
    font-size: 46px;
    margin: 0;
    padding-left: 30px;
    align-items: center;
    color: var(--blue);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

header a {
    text-decoration: none;
    color: var(--blue);
}

header nav {
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px 0;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.7vw;
}

header nav ul li a:hover {
    background: var(--grey);
    color: var(--maroon);
    border-radius: 8px;

}

/*  footer style  */

footer {
    width: 100%;
    padding: 40px 0;
    display: flex;
}


footer h2 {
    display: flex;
    align-items: center;
    border-right: 2px solid var(--dark-blue);
    padding: 25px 15px;
    color: var(--blue);
    font-size: 41px;
    min-width: 5em;
}

footer div {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.5;
    margin: auto;
}


footer a {
    font-size: 20px;
    color: var(--blue);
    padding: 5px;
}

/* about me section */

#about-me {
    display: flex;
}

#about-me h2 {
    display: flex;
    align-items: center;
    font-size: 50px;
    color: var(--blue);
    padding: 10px;
    border-right: 2px solid var(--dark-blue);
    min-width: 5em;
    margin: 2px;
}

.info {
    flex-direction: column;
}

#about-me p {
    font-size: 20px;
    padding: 10px;
    margin-top: 50px;
}

.personal-image {
    margin: 15px;
    max-height: 730px;
    float: right
}

/* project section */

#projects {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

#projects h2 {
    display: flex;
    align-items: center;
    font-size: 50px;
    color: var(--blue);
    padding: 25px;
    border-right: 2px solid var(--dark-blue);
    min-width: 5em;
    margin: 2px;
}

.project-demo {
    flex-direction: column;
    align-items: center;
    padding: 0 85px;
}

.run-buddy {
    display: flex;
    max-width: 1100px;
    flex-direction: column;
    padding: 20px;
}

.run-buddy a {
    text-decoration: none;
    color: var(--blue);
}

.run-buddy a:hover {
    color: var(--dark-blue);
}

.run-buddy img {
    max-width: 100%;
    padding: 15px;
}

.run-buddy h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    border-bottom: 2px solid var(--dark-blue);
}

.minor-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.horiseon a {
    text-decoration: none;
    color: var(--blue);
}

.horiseon a:hover {
    color: var(--dark-blue);
}

.horiseon {
    display: flex;
    max-width: 550px;
    flex-direction: column;
    padding: 20px;
    margin: 0;
}

.next-project {
    display: flex;
    max-width: 550px;
    flex-direction: column;
    padding: 20px;
    margin: 0;
}

.project_img {
    max-width: 100%;
    padding: 15px;
}

.project_title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    border-bottom: 2px solid var(--dark-blue);
}


@media screen and (max-width: 780px) {

    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 15px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 25px;
    }

    footer {
        flex-direction: column;
        padding: 25px 0;

    }

    footer h2 {
        justify-content: center;
        text-align: center;
        border-right: none;
        border-bottom: 2px solid var(--dark-blue);
        padding: 2px 45px;
        margin: auto;
    }

    .personal-image {
        max-width: 250px;
    }

    .contact-links {
        padding: 15px;
    }

    #about-me {
        flex-direction: column;
        width: 100%;
        justify-content: center;

    }

    #about-me h2 {
        text-align: center;
        border-bottom: 2px solid var(--dark-blue);
        border-right: none;
        padding: 2px 45px;
        justify-content: center;
        margin: auto;
    }

    #about-me .info {
        text-align: center;
        margin: 15px;
    }

    #projects {
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }

    #projects h2 {
        justify-content: center;
        border-bottom: 2px solid var(--dark-blue);
        border-right: none;
        padding: 5px 45px;
        margin: auto;
    }

    .project-demo {
        max-width: 100%;
    }

    .minor-projects {
        flex-direction: column;
    }

    .next-project {
        padding: 15px;
    }

}

@media screen and (max-width: 480px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        font-size: 40px;
        text-align: center;
    }
}